body{
  font-family: system-ui;
  background: #0f172a;
  color:#fff;
  padding:20px;
  max-width:900px;
  margin:auto;
}

h1{
  font-size:48px;
  margin-bottom:20px;
}

input{
  padding:12px;
  border-radius:12px;
  border:none;
  width:60%;
  font-size:18px;
}

button{
  padding:12px 18px;
  border-radius:12px;
  border:none;
  font-size:18px;
  background:#22c55e;
  color:white;
  margin-left:10px;
}

#people{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.person{
  display:flex;
  align-items:center;
  gap:15px;
  background:#1e293b;
  padding:10px;
  border-radius:16px;
}

.person img{
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit:cover;
}
